
      <ion-content>    
  <div class="bar bar-header">
  <button class="button icon ion-navicon"></button>  
  <h1 class="title">ฟอร์มเยี่ยมบ้าน - นักศึกษา</h1>
  <button class="button">Edit</button>
</div>
<div class="list bar-subheader">
<h3>ลงชื่อเข้าใช้</h3>
  <label class="item item-input">

    <span class="input-label">Username</span>
    <input type="text">
  </label>
  <label class="item item-input">
    <span class="input-label">Password</span>
    <input type="password">
  </label><p>
  <button class="button button-block button-positive">
  ยืนยัน
</button>
</p>
</div>
</ion-content>
