<ion-content>  
<div class="bar bar-header">
  <button class="button icon ion-navicon"></button>
  <h1 class="title">ข้อมูลนักศึกษา</h1>
  <button class="button">Edit</button>
</div><br>






<div class="list"><br><br></br>

    <a class="item item-thumbnail-left" href="#/menu/member/user">
      <img src="img/2.jpg">
      <h2>นางสาว กรุณาพร ผลปาน</h2>
       <p>ชื่อ เปรี้ยว</p>
      <p> วิทยาลัยเทคนิคชัยภูมิ</p>
    </a>


 <a class="item item-thumbnail-left" href="#/menu/member/user1">
      <img src="img/3.jpg">
      <h2>นางสาว อาทิตยา เพรชสิงห์ </h2>
        <p>ชื่อ แป้ง</p>
      <p> วิทยาลัยเทคนิคชัยภูมิ</p>
    </a>

    <a class="item item-thumbnail-left" href="#/menu/member/user2">
      <img src="img/4.jpg">
      <h2>นาย ปิยวัช น้อยยอด </h2>
        <p>ชื่อ ต้าร์</p>
      <p> วิทยาลัยเทคนิคชัยภูมิ</p>
    </a>


   
    
  
</div>

</div>  
</ion-content>
